</<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                        <tbody>
                            <tr>
                                <td width="50" style="vertical-align: middle;"><span class="sc-TOsTZ kjYrri" style="margin-right: 20px; display: block;">
								<a href="https://www.koekoetech.com" target="_blank"><img width="350" src="https://drive.google.com/uc?export=download&id=0B77NkTC5-fKfM1V1SnpNUWcteVZDSTRMbEhrSEJUd2t5ems0" role="presentation" class="sc-kjoXOD hpTAeq"></a></span></td>

                                <td style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
											<tr>
													<h3 color="#000000" class="sc-jhAzac hmXDXQ" style="margin: 0px; font-size: 18px; color: rgb(0, 0, 0);"><span>{{name}}{{^name}}[NAME]{{/name}}</span>&nbsp&nbsp&nbsp<span color="#000000" font-size="medium" class="sc-fBuWsC eeihxG" style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;"><span>{{title}}{{^title}}[TITLE]{{/title}}</span></span></p></h3>
											</tr>
                                            <tr height="25" style="vertical-align: middle;">

                                                <td width="0" style="vertical-align: middle;">
                                                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: bottom;"><span width="11" color="#F2547D" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"><img width="13" src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png" color="#F2547D" class="sc-gPEVay eQYmiW" style="display: block; background-color: rgb(242, 84, 125);"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px; color: rgb(0, 0, 0);"><a href="{{phone}}{{^phone}}[PHONE]{{/phone}}" color="#000000" class="sc-jlyJG bbyJzT" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>{{phone}}{{^phone}}[PHONE]{{/phone}}</span></a></td>
                                            </tr>
                                            <tr height="25" style="vertical-align: middle;">
                                                <td width="0" style="vertical-align: middle;">
                                                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: bottom;"><span width="11" color="#F2547D" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"><img width="13" src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png" color="#F2547D" class="sc-gPEVay eQYmiW" style="display: block; background-color: rgb(242, 84, 125);"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px;"><a href="{{email}}{{^email}}[EMAIL]{{/email}}" color="#000000" class="sc-jlyJG bbyJzT" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>{{name}}{{^name}}[NAME]{{/name}}</span></a></td>
                                            </tr>
                                            <tr height="25" style="vertical-align: middle;">
                                                <td width="0" style="vertical-align: middle;">
                                                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: bottom;"><span width="11" color="#F2547D" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"><img width="13" src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png" color="#F2547D" class="sc-gPEVay eQYmiW" style="display: block; background-color: rgb(242, 84, 125);"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px;"><a href="//www.koekoetech.com" color="#000000" class="sc-jlyJG bbyJzT" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>www.koekoetech.com</span></a></td>
                                            </tr>
                                            <tr height="25" style="vertical-align: middle;">
                                                <td width="0" style="vertical-align: middle;">
                                                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: bottom;"><span width="11" color="#F2547D" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"><img width="13" src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png" color="#F2547D" class="sc-gPEVay eQYmiW" style="display: block; background-color: rgb(242, 84, 125);"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px;"><span color="#000000" class="sc-gipzik iyhjGb" style="font-size: 12px; color: rgb(0, 0, 0);"><span>No (628/636) , 4 th floor, Royal River View Condo, Between 29th and 30th street,Merchant Road, Pabedan Tsp,Yangon,Myanmar.</span></span>
                                                </td>
											</tr>
											<tr>
											<td style="text-align: right; vertical-align: top;">
                                    <table cellpadding="0" cellspacing="0" class="sc-jDwBTQ dWtMUn" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; display: inline-block;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="https://play.google.com/store/apps/developer?id=Koe+Koe+Tech&amp;hl=en" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://play.google.com/store/apps/developer?id%3DKoe%2BKoe%2BTech%26hl%3Den&amp;source=gmail&amp;ust=1564569285723000&amp;usg=AFQjCNHUo3IpEnQogAXp4FqRRz86Y0zSJg">
                                                        <img width="30"  src="https://www.niftybuttons.com/googleplay/googleplay-button7.png"></a>
                                                </td>
                                                <td>
                                                    <a href="https://www.facebook.com/KoeKoeTech/" color="#6A78D1" class="sc-bRBYWo ccSRck" target="_blank" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);">
                                                        <img width="30" src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png" alt="facebook" color="#6A78D1" class="sc-Rmtcm gwGgYM" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a>
                                                </td>

                                                <td>
                                                    <a href="https://www.linkedin.com/company/koe-koe-tech/about/" color="#6A78D1" class="sc-bRBYWo ccSRck" target="_blank" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);">
                                                        <img width="30"  src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png" alt="linkedin" color="#6A78D1" class="sc-Rmtcm gwGgYM" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
											</tr>
										</tbody>
                                    </table>
								</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            </tbody>
    </table>
</body>

</html>
