<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  <style type="text/css" nonce="bPeecJAL6piOkW1qXFWA+Q">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<style type="text/css" nonce="bPeecJAL6piOkW1qXFWA+Q">
body, td {font-size:13px} a:link, a:active {color:#1155CC; text-decoration:none}
a:hover {text-decoration:underline; cursor: pointer} a:visited{color:##6611CC}
img{border:0px} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap;
  white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} .logo { left: -7px; position: relative; }
</style>
<body>
  <div class="bodycontainer">
      <table width=100% cellpadding=0 cellspacing=0 border=0><tr height=14px><td width=143>
        <div>
            <div dir="ltr">
              <div>
                <div dir="ltr"><div><br></div><div>Best regards,</div><div><br></div>
                  <div>{{name}}{{^name}}[NAME]{{/name}}</div><div>{{title}}{{^title}}[TITLE]{{/title}}</div><div><br></div>
                    <div><p class="MsoNormal">
                        <span style="font-size:10pt;line-height:14.2667px">Mobile:{{phone0}}</span></p><p style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"></p>
                          <p class="MsoNormal"><span style="font-size:10pt;line-height:14.2667px">Address:      </span><span style="font-size:13.3333px"> </span><span style="font-size:13.3333px">No (628/636) , 4 th floor, Royal River View Condo, Between 29th and 30th Street,Merchant Road,Pabedan Tsp,Yangon,Myanmar.</span></p>
                    </div>
                    <div>
                          <a href="https://koekoetech.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://koekoetech.com/&amp;source=gmail&amp;ust=1564569285723000&amp;usg=AFQjCNGIJjLn31uQ2CQjzdd_86lPLS89dQ">
                            <img src="https://ci3.googleusercontent.com/proxy/o9FKurFTR62qL5-ouzWfV_G8JRsDcIIPY68_C4V_2ggcFUMD97BrHi9aBaPDL1vmT_b6qYYqg_M5ktdxTEtIukXglI7ZzpxQorhXkUL4CJ-Na8748E0v9trH0xKJTBY1YItg=s0-d-e1-ft#https://drive.google.com/uc?id=1UohOXLDB0T0VSN5jDMIW5XARShxkCm6b&amp;export=download"></a>   <br>
                    </div>
                </div>
              </div>
            </div>
        </div><div><br></div>
        <div>
          <a href="https://play.google.com/store/apps/developer?id=Koe+Koe+Tech&amp;hl=en" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://play.google.com/store/apps/developer?id%3DKoe%2BKoe%2BTech%26hl%3Den&amp;source=gmail&amp;ust=1564569285723000&amp;usg=AFQjCNHUo3IpEnQogAXp4FqRRz86Y0zSJg">
          <img src="https://lh3.googleusercontent.com/Cbu3Misotb-PA37kezOnP-lwqQDNX3h7IjyfUj07Wqmz9d6pecvktJhrxo9M9Y8xTA=s180-rw" width="96" height="96" alt="">
          <img src="https://lh3.googleusercontent.com/LCQQxZObNDY2--_oRag30AQpc6d_rcR-hfkTB8Nwx5kCZPQOS-4MDnX-O9a1oDywc5M=s180-rw" width="96" height="96">
          <img src="https://lh3.googleusercontent.com/7tcjxB-BMQognuRTp5M65wAz4uVr8G3g-4nBcQ80HLfj0yaIrubV8yKDMJJrH-lJL4k=s180-rw" width="96" height="96">
          <img src="https://lh3.googleusercontent.com/86-aiBxrr1KfD-hiW5XPAKugNFyxpIlUapNhTi4vvoqdIEukPw0JOsPCSI1rQpX5iF2h=s180-rw" width="96" height="96"><br></a>
        </div>
        <div><br>
          <div><p class="MsoNormal" style="font-size:13.33px;margin:0in 0in 0pt"><i><font face="Arial"><font color="#7f7f7f" style="font-size:10pt">Please consider the environment before printing this email.</font></font></i></p>
                        <span style="font-size:13.33px"></span><p class="MsoNormal" style="font-size:13.33px;margin:0in 0in 0pt"><i></i> </p>
                        <span style="font-size:13.33px"></span>
                        <p align="justify" class="MsoNormal" style="font-size:13.33px;margin:0in 0in 3pt;text-align:justify"><i><font face="Arial"><font color="#7f7f7f" style="font-size:10pt">Internet Confidentiality
                              Statement</font></font></i></p>
                        <span style="font-size:13.33px"></span>
                        <div style="border-color:currentcolor currentcolor windowtext;border-style:none none solid;border-width:medium medium 1pt;font-size:13.33px;padding:0in 0in 1pt">
                            <p align="justify" class="MsoNormal" style="border-color:currentcolor;border-style:none;border-width:medium;margin:0in 0in 0pt;padding:0in">
                              <i><font face="Arial"><font color="#7f7f7f" style="font-size:10pt">The information contained in this communication is confidential and intended only for the use of the recipient named above, and may be legally privileged and exempt from disclosure under applicable law. If the reader of this message is not the intended recipient,you are hereby notified that any dissemination, distribution or copying of this communication is strictly prohibited. If you have received this communication in error, please resend it to the sender and delete the original message and copy of it from your computer system. Opinions, conclusions and other information in this message that do not relate to our official business should be understood as neither given nor endorsed by this company.</font></font>
                            </i>
                            </p>
                        </div>
                        <span style="font-size:13.33px"><font color="#888888"></font></span><br>
            </div>
          </div>
    </div>
      </table><script type="text/javascript" nonce="bPeecJAL6piOkW1qXFWA+Q"></script>
</body>
